{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'articles/css/phormochka.css' %}">
        <title>Django Public Blog - создать статью</title>
        <h2 class="all"> <a href="{% url 'articles' %}" >Все статьи</a></h2>
    </head>

<body>
    <div class="content">
        <h1>Создать Пользователя</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Логин" >
            <input type="email" name="email"  placeholder="Email">
            <input type="password" name="password"  placeholder="Пароль">
            <input type="submit" value="Создать">{{error}}
        </form>
    </div>
</body>

</html>
