{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'firstwebpage/css/nestyle.css' %}">
    <title>Привет, Мир!</title>
</head>
<body>
    <h1 class="h">Привет, Мир!</h1>
    <h2>Это учебный сайт, с его помощью будут изучены технологии 
        python/django, html/css.</h2>
    <h3>Как видите, здесь используются заголовки различных 
        уровней.</h3>
    <h2>Здесь есть маркированный список:</h2>
    <h4>
    <ul>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ul>
    </h4>
    <h4 class="h2">И нумерованный список:</h4>
    <h4>
    <ul>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ul>
    </h4>
    <h2>И даже таблица:</h2>
            <div class="main"> 
        <ol class="ol1">
            <p>Столбик 1</p>
            <li>Строка 1 Столбец 1 </li>
            <li>Строка 1 Столбец 2</li>
            <li>Строка 1 Столбец 3</li>
            <li>Строка 1 Столбец 4</li>
            <li>Строка 1 Столбец 5</li>
            <li>Строка 1 Столбец 6</li>
        </ol>
        <ol>
            <p>Столбик 2</p>
            <li>Строка 2 Столбец 1</li>
            <li>Строка 2 Столбец 2</li>
            <li>Строка 2 Столбец 3</li>
            <li>Строка 2 Столбец 4</li>
            <li>Строка 2 Столбец 5</li>
            <li>Строка 2 Столбец 6</li>
        </ol>
        <ol>
            <p>Столбик 3</p>
            <li>Строка 3 Столбец 1</li>
            <li>Строка 3 Столбец 2</li>
            <li>Строка 3 Столбец 3</li>
            <li>Строка 3 Столбец 4</li>
            <li>Строка 3 Столбец 5</li>
            <li>Строка 3 Столбец 6</li>
        </ol>
       <ol>
            <p>Столбик 4</p>
            <li>Строка 4 Столбец 1</li>
            <li>Строка 4 Столбец 2</li>
            <li>Строка 4 Столбец 3</li>
            <li>Строка 4 Столбец 4</li>
            <li>Строка 4 Столбец 5</li>
            <li>Строка 4 Столбец 6</li>

        </ol>
        <ol>
            <p>Столбик 5</p>
            <li>Строка 5 Столбец 1</li>
            <li>Строка 5 Столбец 2</li>
            <li>Строка 5 Столбец 3</li>
            <li>Строка 5 Столбец 4</li>
            <li>Строка 5 Столбец 5</li>
            <li>Строка 5 Столбец 6</li>
        </ol>
        <ol>
            <p>Столбик 6</p>
            <li>Строка 6 Столбец 1</li>
            <li>Строка 6 Столбец 2</li>
            <li>Строка 6 Столбец 3</li>
            <li>Строка 6 Столбец 4</li>
            <li>Строка 6 Столбец 5</li>
            <li>Строка 6 Столбец 6</li>
        </ol>
        <ol>
            <p>Столбик 7</p>
            <li>Строка 7 Столбец 1</li>
            <li>Строка 7 Столбец 2</li>
            <li>Строка 7 Столбец 3</li>
            <li>Строка 7 Столбец 4</li>
            <li>Строка 7 Столбец 5</li>
            <li>Строка 7 Столбец 6</li>
        </ol>
    </div>
    <div>
        <img src="{% static 'firstwebpage/media/er.jpg' %}"alt="Кошка">
    </div>
</div>
       