
 {
box-sizing: border-box
}

body {
    background-color:#AFEEEE ; 
    font-family: Tahoma, Arial, sans-serif; 
    color: #333;
    font-family: 'Montserrat', sans-serif;
}
table {
    border-collapse: collapse;
}
p, h4 {
    font-size: 20px; 
    margin-bottom: 0;
}
h4 {
    font-size: 14px; 
}

table {
	width: 100%;
}

img {
	height: 30px;
	width: auto;
}
.main {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}


p{
    text-align: center;
}

h1{
    text-align: center;
}
ol {
    display: inline-block;
    border: 3px solid rgb(60, 179, 113);
}